body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #4caf50;
    color: black;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 500px;
    padding: 1rem;
    overflow-y: auto;
    text-align: center;
    font-size: 1.2rem;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.1);
}

main {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1, h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: black;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-control input, .form-control button {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.5rem;
}

.form-control button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.form-control button:hover {
    background-color: #45a049;
}

#portfolio {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

#portfolio li {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#portfolio li span {
    font-weight: bold;
}

#portfolio li form {
    display: inline;
}

#portfolio li form button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#portfolio li form button:hover {
    background-color: #c0392b;
}

.chart, .Profit_chart {
    margin-top: 2rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
